database-dumps/*

*.ows
*.swp*

sql/*
!sql/joomla-articles-meta.sql
!sql/joomla-articles+tags.sql
!sql/joomla-tags.sql
!sql/joomla-users.sql


output/*
!output/README.md
!output/project-joomla-3/
!output/project-joomla-3/joomla-users.csv
!output/project-joomla-4/