database-dumps/*
temp/*

*.ows
*.swp*
*.kf
*.arff

sql/*
!sql/tabledump


output/*
!output/README.md
!output/project-joomla-3/
output/project-joomla-3/table-dump/
!output/project-joomla-4/
output/project-joomla-4/table-dump/